# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/env/schema.mjs"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

NEXT_PUBLIC_API_KEY=AIzaSyDz2gkjqzcVxpJVm3MKtdBtIwMMxjXpd4I
NEXT_PUBLIC_AUTH_DOMAIN=to-do-gx.firebaseapp.com
NEXT_PUBLIC_PROJECT_ID=to-do-gx
NEXT_PUBLIC_STORAGE_BUCKET=to-do-gx.appspot.com
NEXT_PUBLIC_MESSAGE_SENDER_ID=865350849274
NEXT_PUBLIC_APP_ID=1:865350849274:web:88f1377c021019ae786f43
NEXT_PUBLIC_MEASUREMENT_ID=G-T7MTFBY5D7